*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


body{
    background-color: #f7f8f9;
}

header{
    background-color: #fff;
    margin-bottom: 64px;
}

header h1{
    display: inline;
}

main{
    width: 72%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
}

a.btn{
    display: inline-block;
    text-decoration: none;
}

#cta-container{
    border-bottom: 2px solid #f8f9fa;
    padding: 16px 0px;
}

.container{
    padding: 0px 64px;
}

#list-container.container{
    padding-top: 36px;
    padding-bottom: 36px;
}


#list-container .element .chevron{
    font-size: 24px;
}

/* stile bottoni */
.btn {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
}

.primary-btn.btn, .blue-pill{
    background-color: #46acf1;
    color: #fff;
}

.secondary-btn.btn{
    border: 1px solid #d3d8dc;
    color: #d3d8dc;
}

/* stile .element */

#list-container{
    color: #444850;
}

#list-container h2{
    display: inline-block;
    margin-left: 8px;
}

.element .check-mark{
    font-size: 12px;
    color: green;
    border: 1px solid green;
    padding: 3px 6px;
    border-radius: 50%;
    margin-right: 8px;
}

.element-item{
    margin-bottom: 36px;
}

span.pill {
    font-size: 12px;
    color: #fff;
    padding: 6px 10px;
    border-radius: 64px;
}

.element .cross-mark{
    font-size: 12px;
    color: red;
    border: 1px solid red;
    padding: 4px 8px;
    border-radius: 50%;
    margin-right: 8px;
}

.purple-pill{
    background-color: #9c72e4;
}

.green-pill{
    background-color: #65c0a8;
}

.orange-pill{
    background-color:#f39d34;
}

.purple-pill{
    background-color:#d963a1;
}

.lightgreen-pill{
    background-color: #b0c927;
}